.left_compare {
    float: left;
    width: 50%
}

.left_compare pre {
    width: 95%;
}

.right_compare {
    float: right;
    width: 50%
}

.right_compare pre {
    width: 95%;
}

body {
    background: url('../img/4developers_background.png');
    background-size: cover;
}